\#*\#
*~
*.pyc
*.orig
.*.swp
google.el
neovim/plugged
neovim/plugin
neovim/plugins
vim/.netrwhist
vim/bundle
vim/data/log
vim/eclim
vim/last-session.vim
vim/google.vimrc
vim/plugin/eclim.vim
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.wmii-hg/history.*
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.hgignore
.hg
fish/fishd*
fish/completions
fish/conf.d
fish/fish_variables
fish/functions/_*
fish/functions/citc_tmux_create_detached.fish
fish/functions/cn.fish
fish/functions/fisher.fish
fish/functions/fzf_key_bindings.fish
fish/functions/nvm.fish
node_modules
db.json
coc/*
neovim/coc-settings.json
vim/.netrwbook
neovim/plugin
